<div *ngIf="detailedRequest" class="container m-5">
  <div class="row">
    <div class="col-8">
      <img class="image" src="{{ detailedRequest.logo.original.url }}" />
    </div>
    <div class="col-4">
      <!-- title -->
      <h3 class="red">{{ detailedRequest.name.text }}</h3>

      <!-- When -->
      <p class="lead mt-3">
        {{ detailedRequest.start.utc | date: "EEEE MMMM dd, yyyy" }}
        <br />
        {{ detailedRequest.start.utc | date: "h:mm" }} -
        {{ detailedRequest.end.utc | date: "h:mm a" }}
        {{
          detailedRequest.ticket_availability.minimum_ticket_price.major_value
            | currency
        }}
      </p>

      <!-- Where -->
      <p class="lead">
        {{ detailedRequest.venue.name }}
        <br>
        {{ detailedRequest.venue.address.localized_address_display }}
      </p>

      <!-- Callout -->
      <p class="lead red bold">Register on Eventbrite!</p>
    </div>
    <div class="row mt-5">
      <div class="col-12">
        <!-- Description -->
        <!-- <p>{{detailedRequest.description.text}}</p> -->

        <!-- About the event -->
        <div class="lead" [innerHTML]="desc"></div>

        <!-- About the authors -->
        <p class="footer mt-4">
          <u>{{ detailedRequest.organizer.name }}</u>
          <br />
          {{ detailedRequest.organizer.description.text }}
        </p>
        <!-- Eventbrite logo -->
        <p>
          <img src="assets/eventbrite.png" width="500" />
        </p>
      </div>
    </div>
  </div>

  <!-- <pre>{{ detailedRequest | json}}</pre> -->
</div>
<div *ngIf="!detailedRequest">
  loading...
</div>
